# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\22231\软件工程中级实践+设计模式\hemowork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
